[2013-09-10 15:42] lylepratt opened #2 "Filter When Hook Sent?"
Hi Guys!

We're very interested in implementing this to make our Zapier integration snappier!

We have a couple of "brainstorming" question:
Because our system is dealing with phone calls that could be in various states, we only want to trigger events for things with a status of "completed". We wouldn't want the obj.created hook to trigger until the call actually completes.

I'm assuming the only

[2013-11-20 20:33] lylepratt opened #3 "ManyToMany Updates Not Passed"
Hi!

We're implementing this and noticed that if you update a ManyToMany field, the "updated" event is triggered, but the reference to the ManyToMany field in the serialize_hook method does not contain the updated values for the ManyToMany field.

Any advice?

-Lyle

[2013-11-21 05:03] #3 closed, assigned to nobody

[2013-11-21 17:39] lylepratt opened #4 "Hook Data Templates"
Hi!

We've been thinking about our shiny new RestHooks and thought that it would be neat if there was another column in the Hooks table that let you define an option "template" for the hook data if the hook destination needed it in an alternative format.

Very Simple example. Say I have this normal hook response defined in serialize_hook, but the data destination is expecting "phone_number" instea

[2015-01-28 19:08] lylepratt opened #10 "Django 1.6 -- simplejson Deprecated"
`simplejson` is deprecated in Django 1.6. This repo imports `simplejson` which results in warnings:
https://github.com/zapier/django-rest-hooks/search?utf8=%E2%9C%93&q=simplejson

Please update!

[2015-01-28 19:10] lylepratt commented on #10
Looks like there is already a PR for this:
https://github.com/zapier/django-rest-hooks/pull/5

[2015-01-28 19:18] #10 closed

[2015-01-28 19:18] bryanhelmig commented on #10
Sorted in linked PR!

[2015-01-28 19:30] #2 closed

[2015-04-01 21:17] avelis opened #12 "Support for Django 1.7+"
With the release of Django 1.8 (at the time of this writing), Django 1.6 has reached end-of-life.

https://www.djangoproject.com/weblog/2015/apr/01/release-18-final/

Since, django-rest-hooks does not currently support Django 1.7 or higher, continued usage of this 3rd library might become integration prohibitive.

[2015-04-02 09:09] benarito opened #13 "Django 1.7 simplejson Import error"
[code]

[2015-05-14 11:14] laginha opened #15 "Question :: why do we need the user property on each model?"
I was looking for django apps for web hooks when I found this project. I find it useful but I was wondering why you need a user field/property/attribute on the model to hook it. I understand you use it to filter and trigger hooks. I just don't get the reasoning.

If you have two hooks

[code]

when a new book is created

[code]

only the user *jrrtolkien* will get a notification. Which means a use

[2015-05-14 19:32] bryanhelmig commented on #15
Nope - that is desired behavior. The main audience for this are private apps - not public apps. IE: you wouldn't want two sales teams from two difference companies to get each others' leads.

If you want to create a public channel of hooks/notifications - you'll probably have to fork.

[2015-05-14 19:32] #15 closed

[2015-05-20 04:47] meric commented on #15
You can subscribe to signals manually and publish the events to multiple users.

    for user in users:
        hook_event.send(
            sender=sender,
            user=user,
            action=action,
            instance=instance)

[2015-05-20 04:48] #12 closed

[2015-05-20 04:48] avelis commented on #12
Since the release of django-rest-hooks 1.1.1 which supports Django 1.7+ This is no longer and issue.

[2015-05-20 04:50] avelis commented on #13
@benarito django-rest-hooks has made a new release (version 1.1.1) with a fix for this issue.

[2015-05-20 04:53] avelis commented on #15
@laginha If you want to look into a fork that has done some work in this area, check out press labs.

https://github.com/PressLabs/django-rest-hooks-ng

Disclaimer their initial migration file already diverges from the original Hook model schema.

[2015-05-20 06:05] benarito commented on #13
Great, Thanks.

[2015-05-20 06:05] #13 closed

[2015-05-20 11:36] laginha commented on #15
Thanks guys!

But I've realised I also need WebHooks on a model-instance level (e.g. receive updates on a vehicle's location). In that case, it seems `django-rest-hooks` isn't fit for me, since I need to specify the events on `HOOK_EVENTS` for model-class level actions (`App.Model.Action`).

I guess the best approach for me is to add a generic relation to the model `Hook` and handle `post_save` si

[2015-05-21 00:33] meric commented on #15
Hi laginha - your problem is you couldn't link user to the vehicle. I've done it in my application by doing it in reverse using a OneToOneField.

How about this:

[code]

[2015-05-21 09:16] laginha commented on #15
Yeah that works.
Although I would have to had that `OnetoOneField` relation in every 'hookable' model and a signal receiver for each sender. But it might be the best solution nonetheless.

Thanks!

[2015-05-22 01:30] meric commented on #15
@laginha You don't need it in every 'hookable' model. I think my previous example wasn't quite right. I think I was mistaken about the `OneToOneField`, I didn't use it for this purpose. You just need one receiver per model.

Here is the corrected example:

[code]

[2015-05-22 11:09] laginha commented on #15
@meric I've realised would be limiting a vehicle to one hook only in your previous comment. And I'm not sure if I understood your latest comment.

What I need is for the `Hook` model to behave like a weak entity between `User` and any 'hookable' model. Hence a user may 'follow' a specific `Vehicle` instance (and not all vehicles).

I'm going for the generic relation solution. In this way I can hav

[2015-09-22 20:28] avelis commented on #4
@lylepratt I realize it has been almost two years since you have made this issue so I do apologize for getting to it so late.

Looking at the ticket feature request, it appears that you could currently do this with Django's Template engine. This in turn could create the ideal payload based on your own criteria.

Further following separation's of concerns, I feel more inclined to say that your feat

[2015-09-23 17:28] lylepratt commented on #4
Hi Andrew,

Yes its definitely possible to use Django template stored the data transformation. However, the template would need to be stored with the Hook data and users would need to be able to pass in their own "data templates" when they create hooks using the Rest API. Essentially, this would require an additional model field, and if the hook model contained a valid template in that field, it s

[2015-12-01 19:30] briankung opened #19 "Python 3 support?"
The tests seem to be passing just fine with Python 3 and Django 1.7.7. I'm not sure if this means that it is compatible with Python3, however. Is it python3 compatible?

[2015-12-01 20:14] avelis commented on #19
@briankung To answer frankly, not officially.

If you feel inclined to offer a pull request with Python3 support I can gladly take a look and merge it in.

This the first official request for Python3 support and I am not against the consideration.

[2015-12-01 20:56] briankung opened #20 "Django 1.8+ support"
Another compatibility ticket! Tests fail in Django 1.8+ with the following error:

[code]

Specifically, tests fail in 1.8.0, 1.8.4, and 1.8.7, and pass with 1.7.7 and 1.7.11.

[2015-12-01 21:11] briankung commented on #19
Thanks for the quick reply @avelis. I likely won't be able to submit a pull request in the near future, unfortunately, but thank you for clarifying :+1:

[2015-12-01 21:24] briankung commented on #20
Sorry, didn't install the correct requirements file. Tests pass on 1.8 with `pip install -r devrequirements_1.8.txt`

[2015-12-01 21:24] #20 closed

[2015-12-01 21:35] avelis commented on #19
@briankung My previous statement is false.
Upon checking our travis yml file: https://github.com/zapier/django-rest-hooks/blob/master/.travis.yml

We run unit tests against Python 3.3 & Python 3.4.

Are those versions of Python sufficient for you?

[2015-12-01 21:57] briankung commented on #19
That's awesome, and yes, those versions should be sufficient. I'm currently using 3.4.3. I'm glad `django-rest-hooks` is an option for us. It is by far the most popular library on djangopackages.com for webhooks and I trust Zapier to know what they're doing with webhooks.

By the way, I ran [modernize](https://pypi.python.org/pypi/modernize) on the repo and it didn't have any major changes: https:

[2015-12-01 21:57] #19 closed

[2015-12-01 22:44] avelis commented on #19
@briankung I appreciate the feedback. I will see what I can do to list Python 3 under pypi & Djangopackages in the future. I will also take a look at modernize and see what it suggests for this repo!

[2015-12-17 16:59] briankung opened #21 "Hooks do not fire reliably with "+" option"
I noticed that hooks with the "+" option were not being triggered for all users as I'd expected from the documentation - at least, not reliably.

From the documentation:

However, in `utils.py`, `user_override` looks like it is set to `True` if there is a plus sign: https://github.com/zapier/django-rest-hooks/blob/master/rest_hooks/utils.py#L82

[code]
In `find_and_fire_hook`, meanwhile, `user_ove

[2015-12-17 17:57] avelis commented on #21
@briankung If you find the time to make a pull request I can happily take a look and merge it in.

[2015-12-17 22:19] briankung commented on #21
Hey, sorry, I couldn't devote enough time to figure out how to write a simple test for it. The function is difficult to test. I could submit a PR without a test, but that makes me uncomfortable.

[2015-12-17 22:22] briankung commented on #21
Would it be correct to set user_override to False `if len(maybe_action) == 2`?

[2015-12-17 23:46] avelis commented on #21
@briankung I believe you assessment is correct. If we changed `user_override=False` it should operate as expected. I still would try to get a unit test on it though.

I merged this enhancement in via a pull-request from another developer.

In an effort to be thorough I am CC'ing @GVRV to make sure such a change wouldn't create unintended consequences.

I doubtful that this is a consequence of usin

[2016-01-18 09:53] imsickofmaps opened #22 "Support Django 1.9 depreciations"
https://github.com/zapier/django-rest-hooks/blob/master/rest_hooks/utils.py#L8 needs updating to:

[code]

[2016-01-18 10:25] imsickofmaps commented on #22
I tried to make this change but because you rely on the standalone comment framework stuff for your tests, which relies on sites framework, which now requires domain to be [UNIQUE](https://docs.djangoproject.com/en/1.9/ref/contrib/sites/#module-django.contrib.sites), the tests fail before I even get to fix this.

[2016-01-18 16:29] avelis commented on #22
@imsickofmaps I appreciate you bringing me this to my attention. I will look into this shortly.

[2016-01-18 17:45] avelis commented on #22
@imsickofmaps I made a branch for Django 1.9 support and fixes. I was able to make a commit to fix your issue but ran into a test failure along the way. Branching for now to not lose the work I have thus far.

[2016-01-18 17:54] avelis opened #23 "Order Deterministic Python serialization fails unit test"
Linked with #22

The following commit https://github.com/django/django/commit/5bc3123479bd97dc9d8a36fa9a3421a71063d1da breaks unit test `test_signal_emitted_upon_success`  in test class `rest_hooks.tests.RESTHooksTest`.

Research will have to be looked into in how to rectify the discrepancy.

Potential solution: Force ordered dict into a regular dictionary in `Hook.seralize_hook`: https://github.c

[2016-01-20 16:04] #23 closed

[2016-01-20 16:05] #22 closed

[2016-02-17 08:16] imsickofmaps commented on #22
@avelis you forgot to include this in Django 1.9 fixes. It still breaks when you use the celery task method by setting `HOOK_DELIVERER`

[2016-02-17 08:28] imsickofmaps commented on #22
@avelis sorry - wrong root issue, you did fix it, you didn't release it to pypi! Still on 1.2.0 ... from December

[2016-02-17 08:32] avelis commented on #22
@imsickofmaps you are absolutely correct. I am a project contributor but not the PyPi owner. I will reach out to zapier to make a PyPi release soon.

In the mean time, I did make a Github release which you can reference the tarball directly.

[2016-02-17 09:19] imsickofmaps commented on #22
@avelis thanks! That's fine for dev but we use setuptools for production builds and it's super painful. Do they release pretty sharpish?

[2016-02-17 15:57] avelis commented on #22
@imsickofmaps They usually are. I have a previous correspondence with them going back to the 20th of January. I have re-ignited that thread to see if there is an update.

Usually when I make a request I get a reply and release EOD.

I will update you and this ticket when I hear from them or see a PyPi release.

[2016-02-18 00:47] avelis commented on #22
@imsickofmaps Zapier made a PyPi release.

Please see: https://pypi.python.org/pypi/django-rest-hooks/1.2.1

[2016-02-18 00:54] bryanhelmig commented on #22
Sorry about the delay folks - total failure of the brain! @avelis definitely asked for a release and I definitely spazzed. :-)

[2016-02-18 07:11] imsickofmaps commented on #22
@bryanhelmig awesome! Thanks to you and @avelis ... BTW - if you want to extract yourself from the blockage in future - you could use: https://docs.travis-ci.com/user/deployment/pypi ... I work with a couple of projects that do that.

[2016-02-18 20:43] avelis commented on #22
@imsickofmaps Thanks for point that out. I will definitely look into that!

[2016-03-14 11:09] imsickofmaps opened #24 "Passing instance forces pickle"
Because of the last two params on this line here: https://github.com/zapier/django-rest-hooks/blob/master/rest_hooks/models.py#L88 if you want to use a celery task to move the processing to an async task with celery you are forced to use pickle for task serialization which is bad: http://docs.celeryproject.org/en/latest/faq.html#isn-t-using-pickle-a-security-concern

Given the `payload` is the jso

[2016-03-14 17:34] bryanhelmig commented on #24
We do this @imsickofmaps:

[code]

[2016-03-14 17:34] #24 closed

[2016-03-14 17:46] imsickofmaps commented on #24
@bryanhelmig ah of course! Perhaps I'll make a PR for the docs then that provides the updated advice.

[2016-03-14 17:47] bryanhelmig commented on #24
That would be super kind of you, thank you!

[2016-04-21 12:29] imsickofmaps commented on #21
I can confirm this is a bug having spent two hours trying to confirm the same thing (without looking at the open issues! Idiot!). https://github.com/zapier/django-rest-hooks/issues/21#issuecomment-165599441 is the correct fix. The unit tests on this don't provide enough existing coverage to making adding a test just for this a short task! Are you still set on not patching without one?

[2016-04-21 16:08] avelis commented on #21
@imsickofmaps I have pushed change in b3387f6fb5278796ef16be0b3c809ef835b0a64a Pull from master and let me know if that addresses this issue. I can then move to make a release.

[2016-04-21 16:28] imsickofmaps commented on #21
👍  works for me... thanks!

[2016-05-13 08:12] imsickofmaps commented on #21
@avelis can we have a release now?

[2016-05-13 09:04] RadoRado commented on #21
Agreed - the changes work.

[2016-05-13 09:04] PavlinGergov commented on #21
I can confirm the change fixes the problem.

[2016-05-13 20:57] avelis commented on #21
Fixed and released v1.2.2. Release has also been pushed to PyPi.

See notes here:
https://github.com/zapier/django-rest-hooks/releases/tag/1.2.2

[2016-05-13 20:57] #21 closed

[2016-05-14 08:49] imsickofmaps commented on #21
@avelis -->
![you](https://cloud.githubusercontent.com/assets/1228977/15267377/eab6a3ee-19c0-11e6-9033-f5aadb078e2a.gif)

[2016-05-23 13:19] emanuelcds opened #27 "Django asks for new migration every time the HOOK_EVENTS settings is changed."
It's really annoying because every time we change our hooks it asks for a new migration. It would not be a problem if we can generate this migration inside our application, but it's being generated inside the rest_hooks package library itself. Anyone with the same problem? Using **Django v1.8.3** here.

[2016-05-23 19:40] avelis commented on #27
@emanuelcds According to the following answer: http://stackoverflow.com/a/26186194/153262

This is Django's preffered choice:

`django-rest-hooks` persists a choices dynamic to a given developers project. Therefore, this request can go a little against Django's design guideline.

One alternative I have read is to turn the `choice` value in the **Hook.event** CharField to reference a method that re

[2016-05-23 19:51] avelis commented on #27
@emanuelcds re: #28

I appreciate the effort in making a PR to resolve this. Taking a quick look at the change, I am worried that removing the reference to the choice argument will have side effects that could break some default functionality.

One I can think of is the ability to select an event choice as a dropdown via a model admin view or a navigational view within a developers project.

I bel

[2016-05-24 14:05] emanuelcds commented on #27
The problem is the data migration is generated inside the django-rest-hooks library.
If you are using virtualenv or any other environment controller, you will loose the database control very easy because the new migrations will not be versioned with your application code. A dropdown with current HOOK_EVENTS values can be inserted in the admin easily. Although, the real issue IMHO is the library ar

[2016-05-24 14:37] emanuelcds commented on #27
I pushed the fixes. I would appreciate if you can take a look there.

[2016-05-25 16:20] avelis commented on #27
@emanuelcds I apologize for not getting to this sooner. I took a quick glance and I appreciate you addressing the concerns I talked about. I will likely merge this PR in.

If you can, I would also appreciate some documentation on the HookForm, HookAdmin class and it's usage.

[2016-05-25 16:21] avelis commented on #27
@emanuelcds As a general question I am unsure if this would be "backwards" compatible with current expectations. If that is the case then I might move to making a release reflecting that change (e.g. `v2.0.0`).

[2016-05-25 19:34] emanuelcds commented on #27
Actually nothing major changed. It does not affects previous versions once it does not generates new migrations nor data migrations. You can test it yourself (like we did here). I manually tested it. Just keep in mind that this is a serious issue that affects database migrations and probably there is not a lot of open issues because there is only a few projects using it. Do you think I can do anyt

[2016-05-25 21:44] avelis commented on #27
@emanuelcds I merged it in. If you can at least write some basic docs on the new classes on the README I would appreciate it.

I will move to make a release soon.

[2016-05-27 14:03] emanuelcds commented on #27
Thank you very much. I will document the changes made on the README and open a new PR.

[2016-05-27 14:22] emanuelcds commented on #27
Done.
I believe you can close this Issue.
Thank you.

[2016-05-27 16:01] #27 closed

[2016-06-20 12:40] Korijn opened #30 "License"
We're working on a conda recipe for this package at https://github.com/conda-forge/staged-recipes/pull/823 and [we're wondering](https://github.com/conda-forge/staged-recipes/pull/823#discussion_r67681995) what version of the BSD license specifically (2-Clause or 3-Clause) you're using?

[2016-06-20 17:38] avelis commented on #30
@bryanhelmig would you know of any resources we could tap into for clarity on the which BSD license django-rest-hooks works best under?

For reference:
[2-Clause BSD Language](http://choosealicense.com/licenses/bsd-2-clause/)
[3-Clause BSD Language](http://choosealicense.com/licenses/bsd-3-clause/)

Notes:
* Paraphrased: "A 3rd clause prohibits others from using the name of the project or its cont

[2016-06-20 17:57] bryanhelmig commented on #30
3 clause is 💯 .

[2016-06-20 18:06] Korijn commented on #30
Thanks for the quick reply! To be sure: everyone agrees that the license field of the recipe can be updated to say `BSD 3-Clause`?

[2016-06-20 18:08] bryanhelmig commented on #30
Sure - I don't mind multi-licensing this - MIT, ISC and BSD 3-clause. Pick which one you want. 👍

[2016-08-11 10:51] stevelacey opened #32 "Dynamic HOOK_EVENTS"
I am implementing a webhook-like system, and your library looks to fit the bill – however, I need to define hooks on the fly – they're based on statuses stored in the database that the users/admins can customise – just wondering why you require settings be defined in advance in settings.py, and what problems I'd run into ripping out that validation.

[2016-08-11 15:57] avelis commented on #32
HOOK_EVENTS settings originally had a goal with connecting into Django models post/pre save signals. This allowed signal registration upon application startup and firing would be provided by Django's signals framework.

HOOK_EVENTS validation can be suppressed somewhat easily. The remaining challenge is to ensure that firing occurs consistently. This will require manual hook event method calls.

[2016-08-11 21:42] stevelacey commented on #32
A little more detail about my specific use-case since I feel the feedback might be useful, regardless of whether I end up solving my problem with this library.

I am contemplating using https://github.com/justquick/django-activity-stream to get most of the functionality I want, i.e. keep track of actions performed against a model (regardless of webhooks). Additionally to that, what I need to be ab

[2016-08-12 00:33] avelis commented on #32
@stevelacey If you are not to interested in a user property association then this library will not likely provide a lot of utility.

Thanks for explaining what you are trying to accomplish. It might be a feature this library could look into being able to provide.

[2016-08-12 00:34] #30 closed

[2016-08-19 15:25] stevelacey opened #33 "Hooks bound to objects"
I am trying to building something similar to the webhooks available for GitHub organizations.

I note that GitHub binds its hooks to their organization model i.e. send me all status updates of things *within this organization*.

I don't see any affordance for this functionality here, is that the case, is it worth adding? I think this is particularly useful combined with user overriding `+`, or at

[2016-08-19 16:20] avelis commented on #33
@stevelacey I don't see an affordance either given since the inception of the project. The user object was a way to associate intention to connect a hook event,  a model & a user.

I think it would be worth exploring. If you make a PR with this feature I can look at merging it in.

[2016-08-20 09:42] stevelacey commented on #33
I decided to roll my own solution in this case, I do think this and dj-webhooks are the best solutions otherwise though, yours for the threading, dj-webhooks for the more thought out models and notification (delivery) models, another thing I need.

I will make every effort to contribute back if my takeaways from rolling my own are valuable — I think both libraries are quite opinionated towards a f

[2016-08-20 23:37] coady opened #34 "Client doesn't use connection pooling."
If `requests.Session`s are used instead of the module level methods, then the client will automatically take advantage of connection pooling.

Relatedly, `requests_futures` also provides a `FutureSession` which would make the threaded client unnecessary.

[2016-08-22 17:22] avelis commented on #33
@stevelacey No worries, I appreciate the feedback and writing down some of the challenges you faced in the comments. It most certainly helps.

[2016-08-23 05:15] #34 closed

[2016-08-26 20:42] Nolapete opened #36 "Question"
I think django-rest-hooks would be a good fit for a project I'm working on but would like to be sure before I head down the path of using it.

I have a django rest framework serializer already working from a view input.

I'd like to have this done as a scheduled event rather than manually.

1) read JSON data in using requests to get a list of imdb ids and showtimes from our POS system
2) serialize

[2016-08-26 21:03] avelis commented on #36
@Nolapete It depends. Could you elaborate more on what problem django-rest-hooks is alleviating for you? This will help me better understand if this library is the right fit for your issue.

It almost sounds like Celery could achieve what you are looking for using async task processing.

[2016-08-26 23:42] Nolapete commented on #36
I've been exploring Celery as an option, but django-rest-hooks looked like it could work.  I'll try to integrate the example into my project and see if it does.

[2016-08-26 23:42] #36 closed

[2016-09-20 08:33] kartikey406 opened #38 "There is no response of status code in rest hooks i.e not able to get whether the post url is successfull or not"

[2016-09-20 15:51] avelis commented on #38
@kartikey406 If you look at the [DeliverHook](https://github.com/zapier/django-rest-hooks#some-gotchas) class in the [readme](https://github.com/zapier/django-rest-hooks#some-gotchas) , you should see an example of a post being made. The code is a reference point. You can be modify the example to capture the response into a variable and output or store the status code however you see fit.

[2016-09-21 04:08] kartikey406 commented on #38
But thats the example of using celery.what about  if i don't want to use celery ..then it return None. yeah we can return status_code instead of none.Can i change it send u a pull request?

[2016-09-21 15:34] avelis commented on #38
@kartikey406 You are welcome _add_ a non Celery example alongside the Celery example. I can take a look at a pull request if you make one.

Take a look at the [deliver_hook_wrapper](https://github.com/zapier/django-rest-hooks#some-gotchas) method. You can call a function of your own implementation to return the status code once you make the request to send the payload.

[2016-09-22 03:02] kartikey406 commented on #38
@avelis  Hi ,Thanks for it.I have gone through the code .As you are saying that deliver_hook_wraper can be customize to use deliver hook wraper we need to add it's deliver path in settings.py of django.But what about when one is using the default  options of django-rest-hooks such as  model events or any customize events without using deliver hook wrapper .In that case there is no return status co

[2016-10-06 09:47] teewuane opened #40 "Zapier sends 'target_url' in the request and 'target' is expected."
When Zapier POSTs to my `/api/v1/hooks/` uri, it sends this as the data...

`{"subscription_url": "https://zapier.com/hooks/standard/1453504/8a7907ee05a54e68be99bcdc969155c6/", "target_url": "https://zapier.com/hooks/standard/1453504/8a7907ee05a54e68be99bcdc969155c6/", "event": "entry.created"}`

To create a Hook Resource you need to provide `user`, `event`, and `target`.

The target is specified

[2016-10-06 14:33] bryanhelmig commented on #40
Hey @teewuane -  this repository isn't platform support for Zapier. We have a short section that mentions https://zapier.com/developer/documentation/v2/platform/#who-can-help-me. We have engineers at contact@zapier.com who can answer this!

[2016-10-06 14:33] #40 closed

[2016-10-07 05:22] teewuane commented on #40
Thanks for the response, @bryanhelmig. To be clear, I wasn't looking for help or support on the Zapier platform.  The reason I opened the issue was to question why the field is named 'target' and not 'target_url'. I would guess that most people using this app in their projects are using it to interact with Zapier (even though it's a rest hooks app could be used anywhere and it's not called "django

[2017-03-15 02:50] pombredanne opened #41 "Support for Django 1.10 and future versions?"
I see the dev requirements are no covering Django 1.10?
Any plan to support this? and beyond?

[2017-03-15 02:52] avelis commented on #41
@pombredanne Yes, of course. Just haven't gotten around to adding it. If you have time and want to open a PR in the meantime I am all for it.

[2017-03-15 02:55] pombredanne commented on #41
@avelis Thanks for the quick reply. At the moment I am considering this vs. thorn. So the question is more to make sure that it is worth for me to evaluate this at all. I run only 1.10 and keep close to the latest versions

[2017-03-15 03:03] avelis commented on #41
@pombredanne Oh wow, I didn't know about thorn. Very cool!

Django 1.10 will be supported just haven't gotten around to making additions for it yet.

[2017-04-21 15:04] tdruez opened #43 "Add ability to extend and customize the Hook model"
Provide an `AbstractHook` abstract model class that could be easily implemented in the local Django project to support all kind of customizations.

This would also require a settings to override the default usage of the `Hook` model to retrieve the proper Hook objects from the custom model.

[2017-04-21 17:44] avelis commented on #43
@tdruez I think this is a great feature to add. Always welcome a PR.

[2017-04-21 18:44] tdruez commented on #41
@avelis I've been running django-rest-hooks under Python 3.6 and Django 1.11, no issues so far.
I think it's safe to add Python 3.5/3.6 and Django 1.10/1.11 to the tests matrix ;)

[2017-04-21 19:09] avelis commented on #41
@tdruez Fair enough. I will look into adding it soon.

[2017-05-08 13:46] tdruez commented on #43
@avelis Thanks++ for pushing the new 1.4.0 release! Would you mind to also publish the package as a wheel on pypi?

[2017-05-08 16:51] #41 closed

[2017-05-08 16:52] avelis commented on #41
Addressed in commit: https://github.com/zapier/django-rest-hooks/commit/7062327bb7b0bbc8bb2b1e5bf4886a83844f7c4c

[2017-05-08 16:53] avelis commented on #43
@tdruez I can look into that soon. That will likely require another release though.

[2017-05-08 17:19] tdruez commented on #43
@avelis Thanks, see https://github.com/vandersonmota/model_mommy/pull/298/files#diff-380c6a8ebbbce17d55d50ef17d3cf906 for a PR example.
All that should be needed is to add:
[code]
in a `setup.cfg` file and add `bdist_wheel` in the `setup.py` upload command.

[2017-05-24 16:49] tdruez commented on #43
@avelis did you had the chance to look into releasing as a wheel?

[2017-05-24 17:15] avelis commented on #43
@tdruez I made a release but it did not upload the wheel. Digging further into the TravisCI config docs and it looks like we are missing some quotes.

https://docs.travis-ci.com/user/deployment/pypi/#Uploading-different-distributions

[2017-05-24 19:08] avelis commented on #43
@tdruez I made the required changes to the TravisCI configuration. It still didn't create a wheel for v1.4.2. I might have to contact TravisCI support to see what I am doing incorrectly.

[2017-05-24 19:12] tdruez commented on #43
@avelis thanks for giving this a shot ;)
Could you publish it manually while figuring out the Travis issue?

[2017-05-26 13:16] tdruez commented on #43
@avelis Thanks for the wheel!
I'm closing the issue :)

[2017-05-26 13:16] #43 closed

[2017-12-04 05:24] tdruez opened #46 "Django 2.0 compatibility"
Django 2.0 is now available https://www.djangoproject.com/weblog/2017/dec/02/django-20-released/

`django-rest-hooks` cannot be used with Django 2.0 at the moment:

[code]

From https://docs.djangoproject.com/en/2.0/releases/2.0/#features-removed-in-2-0:

A value need to be set for `on_delete` on the `user` ForeignKey of the AbstractHook
 model: https://github.com/zapier/django-rest-hooks/blob/mas

[2017-12-04 05:49] avelis commented on #46
@tdruez Yeah I'd say `CASCADE` is a safe one to have. I could see the case for `null` but would prefer to have webhooks cleanup if a User associated to them is deleted as well.

[2017-12-04 06:46] tdruez commented on #46
@avelis PR https://github.com/zapier/django-rest-hooks/pull/47 ready for review.

[2017-12-06 03:23] tdruez commented on #46
@avelis thanks for the merge! `master` works fine with Django 2.0 in my codebase.
Do you mind pushing a release on pypi?
Cheers!

[2017-12-19 02:18] tdruez commented on #46
Hi @avelis, anything blocking a pypi release including the Django 2.0 compatibility that I could help with?

[2017-12-19 04:04] #46 closed

[2017-12-19 04:08] avelis commented on #46
@tdruez https://github.com/zapier/django-rest-hooks/releases/tag/v1.5.0

[2017-12-19 13:26] tdruez commented on #46
@avelis awesome, thanks 👍

[2018-01-08 13:32] psaniko commented on #40
In case someone stumbles upon the same problem. Instead of modifying the hook model I opted to change the field names via Zapier's scripting feature:

[code]

[2018-01-19 12:57] NDevox opened #49 "Bind hooks to groups or users"
Similar to issue #33 I'm interested in this project but need send webhooks based on an object belonging to a _group_ and not just a user.

By the look of this we could do it by adding a `group` property to the `AbstractHook` model. Making both `user` and `group` optional but that at least one must be filled.

And then amending the `find_and_fire_hook` function to look for groups as well.

I can se

[2018-01-19 16:57] avelis commented on #49
@NDevox This is definitely what the `AbstractHook` model is for. I suggest for now to roll your own. I am not against PR's though but could make the case that keeping this library simpler maintains its longevity.

[2018-01-23 07:39] NDevox commented on #49
Done.

For those interested the code looks like this:

` # models.py

from django.contrib.auth.models import Group
from django.conf import settings
from django.db import models

class CustomHook(AbstractHook):
    is_active = models.BooleanField(default=True)
    user = models.ForeignKey(
        settings.AUTH_USER_MODEL,
        related_name='%(class)ss',
        on_delete=models.CASCADE,

[2018-01-23 07:39] #49 closed

[2018-01-23 09:13] NDevox opened #50 "Add encryption option to webhooks."
Not sure if there is a better standard practice but using the webhooks I've noted that I need to setup an open POST hook endpoint on the server receiving the webhooks without any security. As a result anyone can send a webhook to me and I'd have to blindly accept it.

Another webhook system I've used would encrypt the request body using a shared secret created when setting up the webhook. That way

[2018-01-23 16:29] avelis commented on #50
@NDevox A similar suggestion was offered by @bryanhelmig in PR #26 . I am not to sure he was explicitly advocating for a PR to add a persistable field to the AbstractHook model.

With that said, I would definitely accept a contribution on documentation to roll out this solution or even some small utils to help a custom solution easier to implement out the box.

[2018-01-23 16:30] avelis commented on #49
Thanks again for documenting your solution in this issue!

[2018-01-23 16:33] NDevox commented on #49
No problem :-) I'm all too aware of https://xkcd.com/979/

[2018-01-23 16:46] NDevox commented on #50
So the implementation explained by @bryanhelmig is exactly the kind of thing I was thinking of implementing.

I'm not sure I can see a way of doing it without adding a column however which is what he seems to ask for.

The main issue I see is having the same shared secret between webhooks. Where do you store that?

You could store it in the settings of the sender but you have to have ownership ove

[2018-01-23 19:02] bryanhelmig commented on #50
Normally you'd reach for something like an environment variable here, just like any other API key or DB credential, etc.

If you have distributed clients, you'd likely reach for a new DB table or something similar with:

[code]

And whatever you set up to consume your hooks (view/task/etc) could verify the secret matches the user. This is the same sort of dance you'd do with any other authorizatio

[2018-01-24 10:42] NDevox commented on #50
@bryanhelmig I meant on the server side :wink:. In which case it would have to be a table I reckon.

So my proposition for this would be:

1. An `AbstractSecret` class which maps OneToOne user to secret. with a `Secret` class which is to `AbstractSecret` what `Hook` is to `AbstractHook`.
2. The same as above, a config value in settings which defines whether we want to use the secret or not.
3. If

[2018-01-24 10:45] NDevox commented on #50
Actually a better alternative to the `post_save` signal would be to generate the secret in the property.

Check if it exists first and if it doesn't generate it. That way if someone flips the REST_ENCRYPT setting (or whatever it will be called) after creating Hooks the secret will still be generated automatically.

With a post_save flipping the setting later would break the code.

[2018-02-10 22:14] nsb commented on #33
I did something related to this in PR #52

[2018-02-21 17:34] prog-24 opened #53 "Easy to follow documentation"
I have followed the documentation and to be honest I am a bit lost. I wanted to test a simple event where the user logs in an a query is sent to a server.

I have registered my hooks

`HOOK_EVENTS = {
    # 'any.event.name': 'App.Model.Action' (created/updated/deleted)
    'user.logged_in':       'django.contrib.auth.models.User.created+',
    'user.added':       'django.db.models.signals.pre_save

[2018-03-31 22:15] avelis commented on #53
@prog-24 The value: `'django.db.models.signals.pre_save+'` is not the correct value to assign here. It should be `<app-name>.<model-name>.<'CRUD'-action>`. e.g. `blog.Article.created`.

[2018-04-03 12:40] sunmoon11 opened #55 "Using target url's result."
Hi.
Using this package, I developed simple project that send notification to client.
In other words, a user created a book, and then someone updated it.
Then origin user received notification "Someone changed your book.".
But in your doc, there is no way to receive data made by target url.
Help.

[2018-04-17 15:53] avelis commented on #55
@sunmoon11 I am confused about your request. Can you give my an example of information you are trying to send?

[2018-06-21 17:57] Ryanb58 commented on #32
I second this. I need the ownership of a webhook to refer to a different model and not with the User model. It would be nice to be able to use this library for that purpose.

[2018-06-21 20:07] nsb commented on #32
@Ryanb58 You can do this with by creating your own hook class that inherits AbstractHook and then implementing a custom hook finder method.

Here is my hook finder method where I fire if a hook has been set up for a business.

    def find_and_fire_hook(event_name, instance, user_override=None):

        def fire_hook_on_commit(event_name, instance, user_override=user_override):

            if ev

[2018-06-22 17:31] Ryanb58 commented on #4
Seems like you can do this now with the `serialize_hook` method.

[2018-11-21 09:56] leiserfg commented on #50
Will someone implement it?

[2018-11-23 20:02] bryanhelmig commented on #50
This is unlikely to get prioritized by us @leiserfg -- if you fork and implement it we are happy to help you get it into mainline -- pull requests are welcome!

[2019-02-08 19:58] erikcw opened #56 "New setting pointing to custom Model"
The built in Signals (in models.py) don’t work with a custom `Hook` model because they are hard coded to use the built in model.

Seems like the right way to handle this is to add an optional setting pointing to the custom model, and then use the value of that setting instead of hardcoded references to `models.Hook`.

[2019-02-11 01:39] avelis commented on #56
@erikcw If you have time to open a PR with this I would be happy to take a look and merge it in.

[2019-02-26 22:30] erikcw opened #58 "raw_custom_event should share logic with other hooks"
Ideally `raw_custom_event` would share more logic with the other event types.  Specifically the `HOOK_FINDER` setting /`find_and_fire_hook`.

For additional background, my particular use case is creating a set of admin hook subscriptions.  I want admins to get webhook notifications for events on any user (basically the `+` option for all hook types).  If there is a preferred way to go about this,

[2019-05-13 21:25] imposeren commented on #56
Merged but not published on PyPI

[2019-05-14 15:06] #58 closed

[2019-05-14 17:19] imposeren opened #61 "Automatic deployments on PyPI fail because mainteiner does not have verified email"
travis can't publish new versions on PyPI:
https://travis-ci.org/zapier/django-rest-hooks/jobs/532372176

[code]

@avelis , @bryanhelmig  Can someone fix this?

[2019-11-11 17:28] letoss opened #62 "Last release not available through pip"
While trying to install the lib:

[code]

[2019-12-18 12:17] bne commented on #62
As far as I understand it this is due to issue #61.

[2020-03-04 14:22] MatteusT commented on #61
Still no fix for this?

[2020-03-04 14:56] avelis commented on #61
@MatteusT
@bryanhelmig is the CTO of Zapier. You are welcome to email him to verify his email.

[2020-04-02 10:18] jayenashar opened #63 "No mention in the README if it works with Django 3 or not."

[2020-04-02 14:25] avelis commented on #63
@jayenashar It likely does but it is untested. You are welcome to submit a PR to ensure it does via a test. I haven't had time to work on that.

[2020-05-30 00:21] JEphron commented on #61
pinging @bryanhelmig (or anyone else at Zapier who has write access), it would be great to have 1.6.0 on PyPi. Currently have to pin d21a070b9a in order to use swappable models, which is kind of janky.

[2020-06-10 13:57] armando-herastang opened #64 "Fire hook on specific FIELD/s changed rather than any field"
I´ll start by asking. Is it possible? I couldn't´t found a way to do that. I´ll explain what:

I have a model, say `A` with fields `a`, `b`, `c`. An instance of this model will be modified at some point. I would like to be able to set up a hook so it is only fired when field `a` or `b` are modified.

Is it possible to accomplish using current version? if not, it would be a good enhancement.

Greet

[2020-08-19 19:22] steverecio opened #65 "Security Vulnerability: Sample Code Doesn't Filter By User"
`If you want a Hook to be triggered for all users, add '+' to built-in Hooks`

IMO that needs to be emphasized in the docs more clearly. Has serious potential for accidental misuse given the examples shown.

[2020-08-19 19:49] steverecio commented on #65
@avelis

[2020-08-19 19:55] steverecio commented on #65
`If you want a Hook to be triggered for all users, add '+' to built-in Hooks`

IMO that needs to be emphasized in the docs more clearly. Has serious potential for accidental misuse.

[2020-08-19 20:28] #65 closed

[2020-09-16 15:11] Ghopper21 opened #66 "Confusing to use webhooks naming in sample Django REST Framework code"
The sample code for the Django REST Framework in the README uses `webhooks` naming. This seems conceptually confusing, since the whole point here is to use REST hooks instead of just web hooks, right?

[2020-09-21 17:00] avelis commented on #66
Thanks for showing interest in the project. If you would like to make a PR to change the documentation I am open to reviewing, accepting, & merging.

[2020-12-28 19:56] bryanhelmig commented on #61
My email should be verified.

[2021-01-11 19:53] christianbundy commented on #61
Sweet! Would you (or anyone else with permissions) be able to log into https://travis-ci.org/github/zapier/django-rest-hooks/builds/532372175 and select 'Restart build'? You could also push any commit to `master` and it should trigger another build.

[2021-01-18 15:51] deepeeess opened #69 "Is this project maintained?"
Hi,

I see some indicators that this project may no longer be maintained.  I am considering incorporating this into our code base and I wanted to know if it would be possible to get some sort of confirmation from Zapier that there is an intention to maintain this project over the long term.

It appears that JIRA integration may be 'broken' which is preventing tests from passing and/or interested m

[2021-01-19 14:37] bryanhelmig commented on #69
This isn't maintained any more. I did remove the erroneous JIRA check though.

[2021-01-19 21:12] kevinmullin commented on #69
@deepeeess it doesn't appear to be.

I started my own repo with some new features i'm adding for myself/my own projects.

[2021-01-19 21:22] a2f0 commented on #69
Thanks Kevin, I'll take a look.  @bryanhelmig is the CTO of Zapier so I'll take his word for it that it's not being maintained any more.

I opened a ticket on Robinhood's thorn, which also appears that it may also longer be maintained, here's the issue:

https://github.com/robinhood/thorn/issues/41